<header>

    <div class="row-fluid header">
        <div class="container">

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="{% ifequal topnav 1 %}active{% endifequal %}">
                            <a href="/">首页</a>
                        </li>
                        <li class="{% ifequal topnav 2 %}active{% endifequal %}">
                            <a href="{% url 'web-news' %}">新闻公告</a>
                        </li>
                        <li class="{% ifequal topnav 3 %}active{% endifequal %}">
                            <a href="{% url 'web-activity' %}">活动</a>
                        </li>
                        <li class="{% ifequal topnav 4 %}active{% endifequal %}">
                            <a href="{% url 'web-class' %}">班级</a>
                        </li>
                        <li class="{% ifequal topnav 5 %}active{% endifequal %}">
                            <a href="{% url 'web-course' %}">课程</a>
                        </li>
                        <li class="{% ifequal topnav 6 %}active{% endifequal %}">
                            <a href="{% url 'web-education' %}">育儿宝典</a>
                        </li>
                        <li class="{% ifequal topnav 7 %}active{% endifequal %}">
                            <a href="{% url 'web-about' %}">园所介绍</a>
                        </li>
                    </ul>

                </div>

        </div>
    </div>

</header>