{% extends 'web-base.html' %}
{% block title %}课程{% endblock %}

{% block main %}
<div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <ul class="pull-left breadcrumb">
            <li><a href="{% url 'index' %}">首页</a> <span class="divider">/</span></li>
            <li class="active">课程</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="widget-news">
            <div class="headline">
                <h3>课程</h3>
            </div>

            <div id="courselist" class="cat">
                {% if courselist %}
                    {% for course in courselist %}
                        <div class="row-fluid">
                            <div class="span2">
                                <div class="thumbnail">
                                    <a href="{% url 'web-course-detail' course.id %}" target="_blank">
                                    <img alt="300x200" style="width: 160px; height: 120px;" src="{{ course.imagepath }}">
                                </a>
                                </div>
                            </div>
                            <div class="span9">
                                <h4><a href="{% url 'web-course-detail' course.id %}" title="{{ course.title }}">{{ course.title }}</a></h4>
                                <p>{{ course.description|striptags|slice:"320" }}</p>
                            </div>

                        </div>
                    {% endfor %}
                    {{ pagenationHtml | safe }}
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}