{% extends 'web-base.html' %}
{% block title %}登录-{% endblock %}

{% block main %}
    <div class="container">
        <div id="login_bg" class="row-fluid">
            <div class="span4"></div>
            <div class="span5">
                <div id="index_form" class="row-fluid" style="margin: 0 auto;">
                    <div class="page-header">
                            <h3>登录</h3>
                        </div>
                        <form class="form-horizontal" action="" method="post" onsubmit="return validateLoginForm();">
                            <div class="control-group">
                                <label class="control-label" for="inputEmail">用户名</label>
                                <div class="controls">
                                    <input type="text" name="username" id="inputEmail" value="{{ username }}" placeholder="用户名" style="ime-mode: disabled;">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword">密码</label>
                                <div class="controls">
                                    <input type="password" name="password" id="inputPassword" placeholder="密码" value="{{ password }}">
                                </div>
                            </div>
                            <!--
                            <div id="loginform_code" class="control-group">
                                {{ form }}
                                <a href="javascript:;" onclick="changecode();" style="margin-left: 5px;">看不清?</a>
                            </div>-->
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-info">登录</button>
                                </div>
                            </div>
                            <p>{% csrf_token %}</p>
                        </form>
                        {% ifequal status 'fail'%}
                            <div class="alert alert-error">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {% ifequal type 'invilid' %}
                                用户名或密码错误。
                                {% endifequal %}
                                {% ifequal type 'empty' %}
                                    用户名或密码不能为空。
                                {% endifequal %}
                                {% ifequal type 'code' %}
                                    验证码错误
                                {% endifequal %}
                                {% ifequal type 'un_active' %}
                                    用户被限制登录
                                {% endifequal %}
                            </div>
                        {% endifequal %}
                </div>
            </div>
        </div>

        <!--/row-->
    </div>

    <script type="text/javascript">
    //登入验证
    var validateLoginForm=function(){
        if($.trim($("input[name=username]").val())==""){
            $("input[name=username]").focus().css("border","1px solid red");
            return false;
        }
        if ($.trim($("input[name=password]").val()) == "") {
            $("input[name=password]").focus().css("border","1px solid red");
            return false;
        }
        /*
        if ($.trim($("input[name=captcha_1]").val()) == "") {
            $("input[name=captcha_1]").focus().css("border", "1px solid red");
            return false;
        }*/
        return true;
    };
    </script>
{% endblock %}