{% extends 'web-base.html' %}
{% block title %}园所介绍-{% endblock %}

{% block main %}
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
                <div class="nav-about">
                    <ul>
                        <li {% ifequal mod 1 %}class="active"{% endifequal %}><a href="{% url "web-about" %}">园所介绍</a></li>
                        <li {% ifequal mod 2 %}class="active"{% endifequal %}><a href="{% url "web-about" %}?lx">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <div class="row-fluid" id="main-about">
                    {% ifequal mod 1 %}

                    <!--************************************园所介绍*****start************************************-->
                    <div class="headline">
                        <h3>安吉儿国际幼稚园</h3>
                    </div>
                    <div class="row-fluid">
                        <p style="text-indent:28px;line-height:150%">
                            <span><span>&nbsp;&nbsp;&nbsp; </span></span><span style="font-family:宋体">安吉儿幼稚园是由峨眉山市政府规划，经峨眉山市教育局批准设立的大型民营幼儿园。幼儿园占地</span><span>6534</span><span style="font-family:宋体">㎡，总建筑面积</span><span>7840</span><span style="font-family:宋体">㎡。共有</span><span>20</span><span style="font-family: 宋体">个标准幼儿教室，采用独立公寓式设计，设有独立的幼儿活动室、寝室、洗手间和阳台，配备电脑、音响、钢琴等教学设施和各类适龄玩具；另外还设置了多功能活动室、音乐舞蹈室、创意美劳室、阅览室、科普区、国学馆及亲子中心等功能性教室。二千余平方米户外活动场和千余平方米绿化地，为幼儿打造温馨愉悦的成长乐园。</span>
                        </p>
                        <p style="line-height:150%">
                            <strong><span style="font-family:宋体">【办园理念】——</span></strong><span style="font-family:宋体">“<strong>为孩子打造第二个家</strong>”</span><strong></strong>
                        </p>
                        <p style="text-indent:28px;line-height:150%">
                            <span style="font-family:宋体">安吉儿国际幼稚园致力于为孩子创设一个安全、愉快、平等互助的和谐乐园，我们融入人文、艺术、生活、童趣等元素，共同构成儿童自在而灵动的成长空间。</span>
                        </p>
                        <p style="line-height:150%">
                            <strong><span style="font-family:宋体">【教育理念】——“生活即教育”</span></strong>
                        </p>
                        <p style="text-indent:28px;line-height:150%">
                            <span style="font-family:宋体">寓教于生活，将教育渗透在一日生活中，注重培养孩子的能力与习惯，鼓励孩子通过整合性、整体性、创造性的探究成为富有国际情怀、全面发展的终身学习者。</span>
                        </p>
                        <p style="line-height:150%">
                            <strong><span style="font-family:宋体">【教学特色】——“</span></strong><strong><span style="font-family:宋体">学中玩，玩中学”</span></strong>
                        </p>
                        <p style="text-indent:28px;line-height:150%">
                            <span style="font-family:宋体">将教育融入一日生活环节当中，以游戏化教学的方式带给孩子不同的教育体验，开设了绘本阅读、创意美劳、科学探索、陶泥、幼儿舞蹈、游戏化英语教学和职业体验等多种特色课程，同时引进国际蒙台梭利教育课程，奥尔夫音乐课程等。</span>
                        </p>
                        <p style="line-height:150%">
                            <strong><span style="font-family:宋体">【园所环境】——“</span></strong><strong><span style="font-family:宋体">和谐互动，个性成长，文化优雅”</span></strong>
                        </p>
                        <p style="text-indent:35px;line-height:150%">
                            <span style="font-family:宋体">一个良好的教育环境对孩子一生健康发展的重要意义！温馨如家的室内活动室、寝室、生活区、阅读区、艺术畅想区等，宽敞的户外活动场地和优美的绿化景观设计为幼儿全面的探究活动提供了保证。</span>
                        </p>
                        <p style="line-height:150%">
                            <strong><span style="font-family:宋体">【团队建设】——“</span></strong><strong><span style="font-family:宋体">尊重、理解、互助、共进”</span></strong>
                        </p>
                        <p style="text-indent:28px;line-height:150%">
                            <span style="font-family:宋体">安吉儿努力打造一支不仅具备精深的理论素养和丰富的实践经验，同时又能吃苦耐劳、敬职敬业的专业化、学习型的团队，以保证幼儿快乐、健康的成长。</span>
                        </p>
                        <p style="line-height:150%">
                            <span>&nbsp;</span>
                        </p>
                        <p style="line-height:150%">
                            <strong><span>&nbsp;</span></strong>
                        </p>
                        <p style="line-height:150%">
                            <strong><span style="font-family:宋体">地址：峨眉山市胜利镇胜利南路</span><span>309</span></strong><strong><span style="font-family:宋体">号</span></strong>
                        </p>
                        <p style="line-height:150%">
                            <strong><span style="font-family:宋体">联系方式：</span><span>0833</span></strong><strong><span style="font-family:宋体">—</span><span>5566656</span></strong>
                        </p>
                        <p style="line-height:150%">
                            <strong><span>&nbsp;</span></strong>
                        </p>
                        <p>
                            <br/>
                        </p>
                    </div>
                    <!--************************************园所介绍*****end************************************-->
                    {% else %}
                    <!--************************************联系我们*****start************************************-->
                    <div class="row-fluid">
                        <p><strong>地址：</strong>峨眉山市胜利镇胜利南路</p>
                    </div>
                    <div class="row-fluid">
                        <p><strong>联系方式：</strong>0833—5566656</p>
                    </div>
                    <!--引用百度地图API-->
                    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lv3yNDBEV2DEGSUCix26bQoN"></script>
                        <!--百度地图容器-->
                    <div style="width:700px;height:550px;border:#ccc solid 1px;font-size:12px" id="map"></div>

                  <script type="text/javascript">
                    //创建和初始化地图函数：
                    function initMap(){
                      createMap();//创建地图
                      setMapEvent();//设置地图事件
                      addMapControl();//向地图添加控件
                      addMapOverlay();//向地图添加覆盖物
                    }
                    function createMap(){
                      map = new BMap.Map("map");
                      map.centerAndZoom(new BMap.Point(103.516172,29.597943),18);
                    }
                    function setMapEvent(){
                      map.enableScrollWheelZoom();
                      map.enableKeyboard();
                      map.enableDragging();
                      map.enableDoubleClickZoom()
                    }
                    function addClickHandler(target,window){
                      target.addEventListener("click",function(){
                        target.openInfoWindow(window);
                      });
                    }
                    function addMapOverlay(){
                      var markers = [
                        {content:"安吉儿幼稚园",title:"安吉儿幼稚园",imageOffset: {width:-46,height:-21},position:{lat:29.598359,lng:103.516136}}
                      ];
                      for(var index = 0; index < markers.length; index++ ){
                        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
                        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
                          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                        })});
                        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
                        var opts = {
                          width: 200,
                          title: markers[index].title,
                          enableMessage: false
                        };
                        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
                        marker.setLabel(label);
                        addClickHandler(marker,infoWindow);
                        map.addOverlay(marker);
                      };
                    }
                    //向地图添加控件
                    function addMapControl(){
                      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
                      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
                      map.addControl(scaleControl);
                      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:1});
                      map.addControl(navControl);
                      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
                      map.addControl(overviewControl);
                    }
                    var map;
                      initMap();
                  </script>
                    <!--************************************联系我们*****end************************************-->
                    {% endifequal %}
                </div>
            </div>

        </div>


    </div>


{% endblock %}